<a href="https://colab.research.google.com/github/rmontteiro/proesam/blob/main/clustering_vulnerabilidade_ambiental.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd

In [13]:
#lendo o csv uso do solo
df_uso_solo = pd.read_csv('/content/MAPES_2012_2015_Uso_e_Cobertura_Solo_Municipios_transposto.csv', sep=';')

In [14]:
df_uso_solo.head(10)

               Classe  Afloramento Rochoso  ...  Total Classes  Área do Município
0      Afonso Cláudio              4816.13  ...       94111.86            94111.9
1  Água Doce do Norte              4751.37  ...       47457.27            47457.3
2        Águia Branca              6779.55  ...       45446.63            45446.6
3              Alegre              3035.97  ...       77268.99            77269.0
4      Alfredo Chaves               563.45  ...       61573.77            61573.8
5       Alto Rio Novo               584.32  ...       22874.63            22874.6
6            Anchieta               257.85  ...       40958.34            40963.2
7              Apiacá               258.61  ...       19415.68            19415.7
8             Aracruz               877.61  ...      141966.03           141967.0
9     Atílio Vivacqua               649.37  ...       23297.87            23297.9

[10 rows x 28 columns]

In [15]:
#lendo o csv uso do solo
df_situacao_anormal = pd.read_csv('/content/situacoes_anormal.csv', sep=';')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,5,7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df_situacao_anormal.head(10)

  Data_evento  ... Unnamed: 10
0         NaN  ...         NaN
1         NaN  ...         NaN
2         NaN  ...         NaN
3         NaN  ...         NaN
4         NaN  ...         NaN
5  07/03/2011  ...         NaN
6  28/12/2010  ...         NaN
7  10/03/2011  ...         NaN
8  10/03/2011  ...         NaN
9  11/03/2011  ...         NaN

[10 rows x 11 columns]

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly as py
import plotly.graph_objs as go
from sklearn.cluster import KMeans
import warnings
import os
warnings.filterwarnings("ignore")
py.offline.init_notebook_mode(connected = True)